a{color:#06C;text-decoration:underline}
address{display:block;font-style:italic}
b{font-weight:bold}
bdo{direction:rtl;unicode-bidi:bidi-override}
blockquote{display:block;margin:1em 40px}
body{display:block;margin:1em}
cite{font-style:italic}
code{font-family:monospace}
dd{display:block;margin:0 0 0 40px}
del{text-decoration:line-through}
div{display:block}
dl{display:block;margin:1em 0}
dt{display:block}
em{font-style:italic}

h1{display:block;font-size:1.8em;  margin:1em 0; page-break-after:avoid}
h2{display:block;font-size:1.5em;  margin:1em 0; page-break-after:avoid}
h3{display:block;font-size:1.3em;  margin:1em 0; page-break-after:avoid}
h4{display:block;font-size:1.0em;  margin:1em 0; page-break-after:avoid}
h5{display:block;font-size:0.8em;  margin:1em 0; page-break-after:avoid}
h6{display:block;font-size:0.7em;  margin:1em 0; page-break-after:avoid}

head{display:none}
hr{border-style:solid;border-width:1px;display:block;margin-bottom:0.5em;margin-top:0.5em;text-align:center}
html{display:block}
i{font-style:italic}
ins{text-decoration:underline}
kbd{font-family:monospace}
li{display:list-item}
menu{display:block;list-style-type:disc;margin:1em 0;padding:0 0 0 30pt}
ol{display:block;list-style-type:decimal;margin:1em 0;padding:0 0 0 30pt}
p{display:block;margin:1em 0}
pre{display:block;font-family:monospace;margin:1em 0;white-space:pre}
samp{font-family:monospace}
script{display:none}
small{font-size:0.83em}
strong{font-weight:bold}
style{display:none}
sub{font-size:0.83em;vertical-align:sub}
sup{font-size:0.83em;vertical-align:super}
table{display:table;border-spacing:2px}
tbody{display:table-row-group}
td{display:table-cell;padding:1px;background-color:inherit}
tfoot{display:table-footer-group}
th{display:table-cell;font-weight:bold;padding:1px;text-align:center;background-color:inherit}
thead{display:table-header-group}
tr{display:table-row}
ul{display:block;list-style-type:disc;margin:1em 0;padding:0 0 0 30pt}
ul ul{list-style-type:circle}
ul ul ul{list-style-type:square}
var{font-style:italic}
colgroup{display:table-column-group}
col{display:table-column}
caption{display:block;text-align:center}
pagebreak{display:block;page-break-before:always}
dl,ol,ul{margin:0}
p{margin:0}
blockquote{margin:0 40px}
center{display:block;text-align:center}
big{font-size:1.17em}
strike{text-decoration:line-through}
FictionBook{display:block;}
stylesheet,binary{display:none}
description>*{display:none}
description>title-info{display:block}
description>title-info>*{display:none}
description>title-info>coverpage{display:block;page-break-before:always;page-break-after:always}
body,section,title,subtitle,p,cite,epigraph,text-author,date,poem,stanza,v,empty-line{display:block}
image{display:block}
p>image{display:inline}
a{color:#06C;text-decoration:underline}
a[type=note]{font-size:small;vertical-align:super}
code{white-space:pre;font-family:monospace}
emphasis{font-style:italic}
strikethrough{text-decoration:line-through}
strong{font-weight:bold}
sub{font-size:small;vertical-align:sub}
sup{font-size:small;vertical-align:super}
image{margin:1em 0;text-align:center}
cite,poem{margin:1em 2em}
subtitle,epigraph,stanza{margin:1em 0}
title>p{text-align:center;font-size:x-large}
subtitle{text-align:center;font-size:large}
p{margin-top:1em;text-align:justify}
empty-line{padding-top:1em}
p+p{margin-top:0;text-indent:1.5em}
empty-line+p{margin-top:0}
section>title{page-break-before:always}