*.iml
.gradle
.kotlin
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
/.idea*
/Builder/mupdf-*
/Builder/build
/docs/.jekyll-cache/
/Builder/bin/
/smartreflow/bin/
/pro/bin/
/app/bin/
/bin
/Builder/.vscode/
/Builder/mupdf*
/docs/Gemfile
/docs/Gemfile.lock
/app2
/Builder/Gemfile
/Builder/Gemfile.lock
/multiplatform
.vscode
/epub/build/
/Builder/build-cmake/
google-services.*
/macOS/build/
/shared/build/
