/android-support-annotations  
/android-support-media-compat  
/google-play-services-analytics-impl  
/google-play-services-gass               
/android-support-compat       
/android-support-v4               
/google-play-services-base           
/android-support-core-ui
/android-support-v7-cardview
/google-play-services-ads
/google-play-services-basement
/google-play-services-tagmanager-v4-impl
/android-support-core-utils
/android-support-v7-recyclerview
/google-play-services-ads-lite
/google-play-services-clearcut
/google-play-services-tasks
/android-support-fragment
/google-play-services-analytics
/google-play-services-safetynet


