/*.debhelper
/*.log
/*.substvars
/autoreconf.after
/autoreconf.before
/djview/
/djview3/
/djvulibre-bin/
/djvulibre-dbg/
/djvulibre-desktop/
/djvuserve/
/files
/libdjvulibre-dev/
/libdjvulibre-text/
/libdjvulibre21/
/tmp/
