<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.foobnix.pdf.reader"
    android:installLocation="auto"
    android:versionCode="491"
    android:versionName="7.7.36" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="26" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- android:name="com.foobnix.pdf.info.TestAppName" -->
    <application
        android:name="org.ebookdroid.LibreraApp"
        android:icon="@drawable/icon_pdf_reader"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/StyledIndicatorsWhite" >
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.foobnix.pdf.reader.provider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
        </provider>

        <activity
            android:name="com.foobnix.zipmanager.ZipActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="*" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="application/x-compressed" />
                <data android:mimeType="application/x-compressed-zip" />
                <data android:mimeType="application/x-zip-compressed" />
                <data android:mimeType="application/zip" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.foobnix.pdf.search.activity.HorizontalViewActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:exported="true"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity android:name="test.MimeTestActivity" >
            <!-- 
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" android:host="*"  />
                <data android:scheme="content" android:host="*"/>
            </intent-filter>
             <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="*/*" android:pathPattern=""/>
            </intent-filter>
             -->
        </activity>
        <activity
            android:name="org.ebookdroid.ui.viewer.VerticalViewActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:exported="true"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="*" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="application/x-fictionbook+xml" />
                <data android:mimeType="application/x-fictionbook" />
                <data android:mimeType="application/x-fb2" />
                <data android:mimeType="application/x-zip-compressed-fb2" />
                <data android:mimeType="application/fb2+zip" />
                <data android:mimeType="application/fb2.zip" />
                <data android:mimeType="application/fb2" />
                <data android:mimeType="application/epub" />
                <data android:mimeType="application/epub+zip" />
                <data android:mimeType="application/pdf" />
                <data android:mimeType="application/x-mobipocket-ebook" />
                <data android:mimeType="application/x-palm-database" />
                <data android:mimeType="application/x-cbz" />
                <data android:mimeType="application/x-cbr" />
                <data android:mimeType="application/rtf" />
                <data android:mimeType="application/x-rtf" />
                <data android:mimeType="text/rtf" />
                <data android:mimeType="text/richtext" />
                <data android:mimeType="text/html" />
                <data android:mimeType="multipart/related" />
                <data android:mimeType="message/rfc822" />
                <data android:mimeType="application/x-mimearchive" />
                <data android:mimeType="image/djvu" />
                <data android:mimeType="image/vnd.djvu" />
                <data android:mimeType="image/x-djvu" />
                <data android:mimeType="image/x.djvu" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="image/tiff" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="*" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:pathPattern=".*\\.txt" />
                <data android:pathPattern=".*\\.epub" />
                <data android:pathPattern=".*\\.fb2" />
                <data android:pathPattern=".*\\.pdf" />
                <data android:pathPattern=".*\\.djvu" />
                <data android:pathPattern=".*\\.rtf" />
                <data android:pathPattern=".*\\.html" />
                <data android:pathPattern=".*\\.htm" />
                <data android:pathPattern=".*\\.mht" />
                <data android:pathPattern=".*\\.mhtml" />
                <data android:pathPattern=".*\\.mobi" />
                <data android:pathPattern=".*\\.azw" />
                <data android:pathPattern=".*\\.azw3" />
                <data android:pathPattern=".*\\.azw4" />
                <data android:pathPattern=".*\\.prc" />
                <data android:pathPattern=".*\\.cbz" />
                <data android:pathPattern=".*\\.cbr" />
                <data android:pathPattern=".*\\.tiff" />
            </intent-filter>
        </activity>

        <service
            android:name="com.foobnix.ui2.BooksService"
            android:exported="false" >
        </service>
        <service
            android:name="com.foobnix.tts.TTSService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </service>
        <service
            android:name="com.foobnix.tts.TTSService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </service>

        <receiver android:name="android.support.v4.media.session.MediaButtonReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.foobnix.tts.TTSActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.test.TestAdsActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:exported="true"
            android:launchMode="singleTop"
            android:resizeableActivity="true"
            android:screenOrientation="behind"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN1" />

                <category android:name="android.intent.category.LAUNCHER1" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.foobnix.ui2.MainTabs2"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:exported="true"
            android:launchMode="singleTop"
            android:resizeableActivity="true"
            android:screenOrientation="behind"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT1" />

                <category android:name="android.intent.category.DEFAULT1" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH1" />

                <category android:name="android.intent.category.DEFAULT1" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND1" />

                <category android:name="android.intent.category.DEFAULT1" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:resizeableActivity="true"
            android:theme="@android:style/Theme.Translucent" />

        <receiver
            android:name="com.foobnix.pdf.info.widget.RecentBooksWidget"
            android:exported="@bool/is_log_enable"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE_TEST" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/recent_images_provider_3x1" />
        </receiver>

        <service
            android:name="com.foobnix.pdf.info.widget.StackGridWidgetService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <uses-library
            android:name="com.sec.android.app.multiwindow"
            android:required="false" />

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />
        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W"
            android:value="632.0dip" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H"
            android:value="598.0dip" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W"
            android:value="332.0dip" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H"
            android:value="598.0dip" />
        <meta-data
            xmlns:android="http://schemas.android.com/apk/res/android"
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>