html, body {
  font-family: "Open Sans", sans-serif;
  color: #363636;
  height: 100%;
}

@media (min-width: 48em) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 58em) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 48em) {
  .content {
    margin-left: 18rem;
    margin-right: 2rem;
  }
}

@media (min-width: 64em) {
  .content {
    margin-left: 20rem;
    margin-right: 3rem;
  }
}

.lang{  
  font-size:14px;
}

h2{
  font-size: 1.2em;
}

th{
  display: none;
}
td{
  padding-left:4px;
}

.sidebar li {  
  font-size:14px;
}

img { 
  border: 1px solid #cc363636;
  margin: 5px 5px 5px 5px;	
}

/* Sidebar */
.sidebar {
  overflow: auto;
  text-align: center;
  padding: 1rem 0.8rem;
  color: white;
  background-color: #363636;
  display: flex;
  flex-direction: column;
}
.sidebar.sidebar-default {
  background-color: #363636;
}
.sidebar.sidebar-green {
  background-color: #459D61;
}

@media (min-width: 48em) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 14rem;
    text-align: left;
  }
  
}

.site-title {
  margin: 0px;
}

.sidebar a,
.sidebar a:hover,
.sidebar a:visited {
  text-decoration: none;
  color: white;
}

.sidebar a:hover {
  color: rgb(223, 223, 223);;
}

.sidebar ul {
  margin: 0px 0px 5px 0px;
  padding: 0px;
}

.sidebar ul li {
  list-style: none;
 }

nav {
  margin: 1em 0 1em 0;
}

.sidebar .navigation {
  flex: 1 0 auto;
}

.sidebar .version {
  font-size: 80%;
  text-align: right;
  padding: 2px;
}

.sidebar .external-title {
  margin-top: 2em;
  text-align: center;
  font-size: 120%;
}

.sidebar nav.external {
  font-size: 80%;
}

/* Blocks */
.block {
  margin: 1em 0em 1em 0em;
  padding: 0 5px 5px 5px;
  border-top: 34px solid;
  position: relative;
  overflow-wrap: break-word;
}

.block:before {
  position: absolute;
  top: -32px;
  left: 10px;
  color: white;
}

.block.tip {
  background: #e8f7e6;
  border-top-color: #84c578;
}

.block.block.tip:before {
  content: "Tip";
}

.block.note {
  background: #e6f3fb;
  border-top-color: #6bb1e0;
}

.block.block.note:before {
  content: "Note";
}

.block.info {
  background: #fefaf5;
  border-top-color: #f1b37e;
}

.block.block.info:before {
  content: "Info";
}

.block.warn {
  background: #fbeded;
  border-top-color: #d58181;
}

.block.block.warn:before {
  content: "Warning";
}

/* Section of the page */
section.page {
  margin-bottom: 3em;
}

section.page h1 {
  border-left: 3px solid #363636;
  padding-left: 0.5em;
  margin-bottom: 0;
}

section.page .content {
  margin-left: 0.5em;
}

section.page h1 a,
section.page h1 a:hover,
section.page h1 a:visited {
  text-decoration: none;
  color: #363636;
}

section.page a,
section.page a:hover,
section.page a:visited {
 text-decoration: none;
 color: #000080;
}
section.page a:hover{
text-decoration: underline;
}

.red{
color:red !important;
}

.red:hover{
text-decoration: underline !important;
}

section div pre {
  overflow: auto;
}

section code {
  background-color: #fafafa;
}

section img {
  max-width: 100%;
}


img {
  cursor: pointer;
  }

/* The Modal (background) */
.modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   padding-top: 0px; /* Location of the box */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: hidden; /* Enable scroll if needed */
 
}

/* Modal Content (image) */
.modal-content {
   margin: auto;
   display: block;
   border-width: 2px;
   border-color: rgb(46, 105, 73);
   height: 95%;
}

.languagepicker {
    background-color: #989494;
    display: inline-block;
    padding: 0;
    height: 25px;
    overflow: hidden;
    transition: all .3s ease;
    margin: 0 25px 10px 20px;
    vertical-align: top;
   
}

.languagepicker:hover {
    /* don't forget the 1px border */
    height: 300px;
}


.languagepicker li {
    display: block;
    padding: 0px 20px;
    line-height: 25px;
    border-top: 1px solid #EEE;
}



.languagepicker a:first-child li {
    border: none;
    background: #18bc9c !important;
}

.languagepicker li img {
    margin-right: 5px;
}

.roundborders {
    border-radius: 5px;
}


.large:hover {
    /* 
    don't forget the 1px border!
    The first language is 40px heigh, 
    the others are 41px
    */
    height: 232px;
}

code{
    font-size: 12px;
    color: red;
    font-family: monospace;
}

.as {
color: #3c4043;
font-family: 'Google Sans', Roboto, sans-serif;
text-align: center;
}

.as .title {
  color: #202124;
  display: inline-block;
  font-size: .875rem;
  font-weight: 500;
  padding: 1.125rem 0;
}

.as .as-button {
  background-color: #ffffff;
  border: .0625rem solid #dadce0;
  border-radius: .25rem;
  color: #1a73e8;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: .875rem;
  font-weight: 500;
  line-height: 1rem;
  margin: .375rem .5rem .375rem 0;
  min-width: 5.5rem;
  padding: .625rem 0;
  position: relative;
  text-align: center;
}
.i{
    height: 400px;
}
h3{
    display: block;
    font-size: 1.2em;
    margin: 1em 0 0 0;
    padding-top: 0;
    font-weight: 400;
}