<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zcontentintent"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="22" />
  	
  	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  	
    <application
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        
         <activity
            android:name=".BannerActivity"
             android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:label="@string/app_name" >
            
            </activity>
            
          <activity
            android:name=".ScreenActivity"
             android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:label="@string/app_name" >
           
            
            </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
           
            
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                 <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="*/*" />
            </intent-filter>
            
            
             <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="*/*" />
                
                <data android:pathPattern=".*\\.fb2\\.zip"/>
                <data android:pathPattern=".*\\.zip"/>
                <data android:pathPattern=".*\\.fb2"/>
                <data android:pathPattern=".*\\.txt"/>
                <data android:pathPattern=".*\\.html"/>
                <data android:pathPattern=".*\\.xhtml"/>
                <data android:pathPattern=".*\\.htm"/>
                <data android:pathPattern=".*\\.chm"/>
                <data android:pathPattern=".*\\.epub"/>
                <data android:pathPattern=".*\\.pdb"/>
                <data android:pathPattern=".*\\.doc"/>
                <data android:pathPattern=".*\\.prc"/>
                <data android:pathPattern=".*\\.pml"/>
                <data android:pathPattern=".*\\.mobi"/>
                <data android:pathPattern=".*\\.azw"/>
                <data android:pathPattern=".*\\.tcr"/>
            </intent-filter>
            
         
        </activity>
    </application>

</manifest>