*.la
*.lo
*.o
.deps/
.dirstamp
.libs/
/INSTALL
/aclocal.m4
/autom4te.cache/
/config.h
/config.log
/config.status
/config/ar-lib
/config/compile
/config/config.guess
/config/config.h.in
/config/config.sub
/config/depcomp
/config/install-sh
/config/libtool.m4
/config/ltmain.sh
/config/ltoptions.m4
/config/ltsugar.m4
/config/ltversion.m4
/config/lt~obsolete.m4
/config/missing
/configure
/desktopfiles/hi-djvu.svgz
/desktopfiles/hi128-djvu.png
/desktopfiles/hi16-djvu.png
/desktopfiles/hi20-djvu.png
/desktopfiles/hi22-djvu.png
/desktopfiles/hi24-djvu.png
/desktopfiles/hi256-djvu.png
/desktopfiles/hi32-djvu.png
/desktopfiles/hi48-djvu.png
/desktopfiles/hi64-djvu.png
/desktopfiles/hi72-djvu.png
/desktopfiles/hi96-djvu.png
/desktopfiles/register-djvu-mime
/libdjvu/ddjvuapi.pc
/libtool
/tools/bzz
/tools/c44
/tools/cjb2
/tools/cpaldjvu
/tools/csepdjvu
/tools/ddjvu
/tools/djvm
/tools/djvmcvt
/tools/djvudump
/tools/djvuextract
/tools/djvumake
/tools/djvups
/tools/djvused
/tools/djvuserve
/tools/djvutxt
/xmltools/djvutoxml
/xmltools/djvuxml.1
/xmltools/djvuxmlparser
Makefile
Makefile.in
stamp-h1
