@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }
@font-face {
    font-family: "LOV.HammerUnziale";
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    src: url(fonts/LOV.HammerUnziale.otf)
    }
@font-face {
    font-family: "LOV.NeueDeutscheKurrent";
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    src: url(fonts/LOV.NeueDeutscheKurrent.otf)
    }
@font-face {
    font-family: "LOV.UnicodeFraktur";
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    src: url(fonts/LOV.UnicodeFraktur.otf)
    }
